.body-form {
    background-image: url(../img/imagen2.jpg);
    background-size: 116rem;
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y:center;
    
    color:azure
}
.registro{
    background-color:transparent;
    color: white;
    margin-top: 1rem;
    margin-right: 32rem;
    margin-left: 32rem;
   
}
.Sesion {
    padding-bottom: 0px;
    

}
.Sesion h1{
    margin-top: 4px;
}

.formulario{
    margin-top: 2rem ;
    color: white;
    background-color: transparent;
   
}   

.body-bienvenida{
    background-image: url("../img/imagen1.jpg");
    background-size: 90rem;
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y:center;
    padding: 5rem;
}

.menu{
    display: flex;
    color: white;
    font-size: x-large;
    flex-direction: column;
}

.menu a{
    text-decoration-color:none;
    color: white; 
}
.warning{
    background-image: url("../img/cheferror.jpg");
    background-size: 8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 50%;
    background-position-y: -30%;
}



.body-receta{
    background-image: url("../img/imagenn3-min.jpg");
    background-size: 90rem;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 20%;
}
.receta{
    margin-top: 2rem;
}

.Boton{
    text-decoration: none;
    text-decoration-color:none;
    user-select: none;
    cursor: default;
    white-space: pre;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: black;
    padding: 1px 6px;
    border-width: 1px;
    border-style: outset;
    border-color: buttontext;
    border-image: initial;
    border-radius: 0.1rem;
    height: 10px;
}

.NombreIngrediente{
    margin:3.5rem;
    text-decoration: none;
    font-size: 2rem;
}
.body-ranking{
    background-color: #f7edd2e5;

} 

.logo{
    width: 200px;
    height: 150px;
    display: flex;
    margin-left: 63rem;
}

.logoBienvenida{
    width: 200px;
    height: 150px;
    display: flex;
}

.body-ingredientes{
    background-image: url("../img/imagen4.jpg");
    background-size: 95rem;
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y:center;
    color:white
}

.body-tiempo{
    background-image: url("../img/imagen5.jpg");
    background-size: 86rem;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 10%;
    color:white    
}

.body-tiempo{
    background-image: url("../img/imagen5.jpg");
    background-size: 86rem;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 10%;
    margin-top: 6rem;
    color:white    
}

.BuscarTiempo{
    margin-top: 6rem;
    margin-left: 40rem;
    font-size: 1.6rem;
}

.body-listar-ingredientes{
    background-image: url("../img/imagen6.jpg");
    background-repeat: no-repeat;
    background-size: 90rem;
    background-position-y: 30%;
}

.ListaTiempo{
    margin-left: 20rem;
    margin-top: 2rem;
    font-size: 1rem;
}

.logo-tiempo{
    width: 200px;
    height: 150px;
    display: flex;
    margin-left: 67rem;
}

.logo-tiempo1{
    width: 200px;
    height: 150px;
    display: flex;
    position: absolute;
    top: 1rem; right: 1rem;
}

.logo-ranking{
    width: 178px;
    height: 126px;
    display: flex;
}

.logo-receta{
    width: 200px;
    height: 150px;
    display: flex;
    position: absolute;
    top: 2rem; left: 19rem;
    transform: rotate(350deg); 
}

.logo-ingredientes{
    width: 200px;
    height: 150px;
    display: flex;
    position: absolute;
}



.body-listarinfo{
    background-color: rgb(245, 220, 191);
}

.logo1{
    width: 200px;
    height: 150px;
    display: flex;
    margin-left: 63rem;
}

.Boton-tiempo{
    text-decoration: none;
    text-decoration-color:none;
    user-select: none;
    cursor: default;
    white-space: pre;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: black;
    padding: 1px 6px;
    border-width: 1px;
    border-style: outset;
    border-color: buttontext;
    border-image: initial;
    border-radius: 0.1rem;
    height: 10px;
    margin-left: 19rem;
}

.Boton-ingrediente{
    text-decoration: none;
    text-decoration-color:none;
    user-select: none;
    cursor: default;
    white-space: pre;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: black;
    padding: 1px 6px;
    border-width: 1px;
    border-style: outset;
    border-color: buttontext;
    border-image: initial;
    border-radius: 0.1rem;
    height: 10px;
    margin-left: 12rem
}

.logo-inforeceta{
    width: 200px;
    height: 150px;
    display: flex;
    position: absolute;
    top: 1rem; right: 1rem;
}