<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static\css\style.css">
       <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <nav>
            <img class="logo" src="../static/img/image2.png">
        </nav>
        <title>Sancho Panza</title>
    </head>
    <body class="body-form"> 
        <div class="registro">
            <div class="Sesion">
                <center><h1> Iniciar Sesion </h1></center>
            </div>
            <div class = formulario>
                <form action = "http://localhost:5000/incio_sesion" method = "post">
                    <center>
                    <br>
                    <label for = "email">Correo Electrónico</label><br>
                    <input type = "text" name = "email" placeholder = "email" /><br>
                    <label for = "password">Contraseña</label><br>
                    <input type = "password" name = "password" placeholder = "password"/><br>
                    <br>
                    <button class="w-50 btn btn-lg btn-primary" type = "submit" value = "Iniciar"> Ingresar </button>
                    <br><br>
                    </center>
                </form>
            </div>
        </div>
    </body>
</html>