<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\css\style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Buscar por tiempo</title>
    <nav>
        <img class="logo-tiempo" src="../static/img/image2.png">
    </nav>
</head>
<body class="body-tiempo">
    <center>
    <div class = "BuscarTiempo">
        <form method="post" action="{{ url_for('listar_tiempo') }}"> 
            <label for="tiempo">Ingrese tiempo:</label><br>
            <br>
            <input type="text" name = "tiempo" placeholder="Tiempo">
            <input type="submit" value = "Buscar">
            <br>
            <br>
            <center><a href="{{ url_for('bienvenida') }}" class = "Boton-tiempo"> Salir </a></center>
        </form>
    </div>
    </center>
</body>
</html>