<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static\css\style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Listar por Ingredientes</title>
    <nav>
        <img class="logo" src="../static/img/image2.png">
    </nav>
</head>
<body class="body-listar-ingredientes">
    <center>
    <form method="post" action="{{ url_for('listar_ingredientes') }}">
        <label for="ingredientes"> Ingrese el ingrediente a buscar:</label><br>
        <br>
        <input type="text" name = "ingredientes" placeholder="ingrediente">
        <input type="submit" value = "Buscar">
    </form>
    </center>
    <br>
    <center><a href="{{ url_for('bienvenida') }}" class = "Boton-ingrediente"> Salir </a></center>
</body>
</html>