<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static\css\style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <nav>
            <img class="logo-receta" src="../static/img/image2.png">
        </nav>
    </head>
    <body class="body-receta">
        <form action="{{ request.path }}" method="post">
            <center>
                <br>
                <div class="receta">
                    <h1>Nueva Receta</h1>
                    <br>
                    <label for = "nombre">Nombre de la receta</label><br>
                    <input type = "text" name = "nombre" placeholder = "Nombre" /><br>
                    <br>

                    <label for = "tiempo">Tiempo de coccion</labl><br>
                    <input type = "text" name = "tiempo" placeholder = "Tiempo" /><br>
                    <br>

                    <label for = "elaboracion">Proceso de elaboracion</label><br>
                    <textarea name = "elaboracion" placeholder = "Elaboracion" cols="60" rows ="8"></textarea><br>
                    
                    <a href="{{ url_for('bienvenida') }}" class = "Boton"> Salir </a>
                    <input type = "submit" value = "Enviar"/>
                </div>
            </center>
        </from>
    </body>
</html>